<section>
  <header>
    <h1>Customer Registry Management</h1>
  </header>

  <crm-example-customer-list
    *ngIf="!displayCustomerForm"
    [customerList]="customerList$ | async"
    (search)="filterCustomers($event)"
    (addEdit)="showAddEditForm($event)"
  ></crm-example-customer-list>

  <crm-example-add-customer
    *ngIf="displayCustomerForm"
    [customer]="selectedCustomer$ | async"
    [countries]="countries$ | async"
    (save)="saveCustomer($event)"
    (goBack)="filterCustomers()"
  ></crm-example-add-customer>


</section>
