<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About page</title>

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="http://primefaces.org/primeng/assets/components/themes/nova-light/theme.css">
  <link rel="stylesheet" href="http://primefaces.org/primeng/styles.1296e35956e11a53d1ab.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/about.css">
</head>
<body>

  <header id="top-bar">

    <section class="left-bar">
      <h1>Pet Joy Shop</h1>

      <nav class="category">
        <ul>
          <li>
            <a href="product-list.html">Cats</a>
          </li>

          <li>
            <a href="product-list.html">Dogs</a>
          </li>

          <li>
            <a href="product-list.html">Birds</a>
          </li>

        </ul>
      </nav>

    </section>

    <nav>

      <ul>
        <li>
          <a href="basket.html">
            <i class="pi pi-shopping-cart"></i>
          </a>
        </li>

        <li>
          <a href="about.html">About us</a>
        </li>
      </ul>

    </nav>

  </header>

  <main>

    <article>

      <header>
        <h1>About us</h1>
      </header>

      <section>

        <p>
          With more than 50 years of service to pet parents, Pet Toy Joy is a leading pet specialty retailer that obsesses about delivering health and happy experiences for pets and the people who love them. We do this by providing the products, services, advice and experiences that keep pets physically fit, mentally alert, socially engaged and emotionally happy.
        </p>

        <p>
          Everything we do is guided by our vision:
        </p>

        <p class="shop-moto">
          Healthier <span>Pets</span>. Happier <span>People</span>. Better <span>World</span>.
        </p>

      </section>

    </article>

  </main>

  <footer id="bottom-bar">

    <nav>
      <ul>
        <li>
          <a href="product-list.html">Product list</a>
        </li>

        <li>
          <a href="basket.html">Basket</a>
        </li>

        <li>
          <a href="about.html">About me</a>
        </li>

      </ul>
    </nav>

    <p>Copyryght &copy; Nortal</p>

  </footer>

</body>
</html>
