<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basket</title>

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="http://primefaces.org/primeng/assets/components/themes/nova-light/theme.css">
  <link rel="stylesheet" href="http://primefaces.org/primeng/styles.1296e35956e11a53d1ab.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>

  <header id="top-bar">

    <section class="left-bar">
      <h1>Pet Joy Shop</h1>

      <nav class="category">
        <ul>
          <li>
            <a href="product-list.html">Cats</a>
          </li>

          <li>
            <a href="product-list.html">Dogs</a>
          </li>

          <li>
            <a href="product-list.html">Birds</a>
          </li>

        </ul>
      </nav>

    </section>

    <nav>

      <ul>
        <li>
          <a href="basket.html">
            <i class="pi pi-shopping-cart"></i>
          </a>
        </li>

        <li>
          <a href="about.html">About us</a>
        </li>
      </ul>

    </nav>

  </header>

  <main>

  </main>

  <footer id="bottom-bar">

    <nav>
      <ul>
        <li>
          <a href="product-list.html">Cats</a>
        </li>

        <li>
          <a href="product-list.html">Dogs</a>
        </li>

        <li>
          <a href="product-list.html">Birds</a>
        </li>

        <li>
          <a href="about.html">About us</a>
        </li>

      </ul>
    </nav>

    <p>Copyryght &copy; Nortal</p>

  </footer>

</body>
</html>
