<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product list</title>

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="http://primefaces.org/primeng/assets/components/themes/nova-light/theme.css">
  <link rel="stylesheet" href="http://primefaces.org/primeng/styles.1296e35956e11a53d1ab.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/product-list.css">
</head>
<body>

  <header id="top-bar">

    <section class="left-bar">
      <h1>Pet Joy Shop</h1>

      <nav class="category">
        <ul>
          <li>
            <a href="product-list.html">Cats</a>
          </li>

          <li>
            <a href="product-list.html">Dogs</a>
          </li>

          <li>
            <a href="product-list.html">Birds</a>
          </li>

        </ul>
      </nav>

    </section>

    <nav>

      <ul>
        <li>
          <a href="basket.html">
            <i class="pi pi-shopping-cart"></i>
          </a>
        </li>

        <li>
          <a href="about.html">About us</a>
        </li>
      </ul>

    </nav>

  </header>

  <main>

    <section class="items">

      <article>

        <header>
          <a href="single-product.html">
            <img src="../img/squeez-ball-dog-toy.jpg" alt="Squeez ball"/>
            <h1>Squeez ball</h1>
          </a>
        </header>

        <p>The KONG Squeezz Ball has a recessed squeaker that gives the safest and funnest squeak of any toy out there. </p>

        <footer>
          <p class="rating rating-45"></p>
          <div class="price-holder">

            <span class="price">
              $2.09
              <span class="original-price">was $5.99</span>
            </span>

            <button>Add to cart</button>
          </div>
        </footer>

      </article>

      <article>

        <header>
          <a href="single-product.html">
            <img src="../img/squeez-ball-dog-toy.jpg" alt="Squeez ball"/>
            <h1>Squeez ball</h1>
          </a>
        </header>

        <p>The KONG Squeezz Ball has a recessed squeaker that gives the safest and funnest squeak of any toy out there. </p>

        <footer>
          <p class="rating rating-25"></p>
          <div class="price-holder">

            <span class="price">
              $3.09
            </span>

            <button>Add to cart</button>
          </div>
        </footer>

      </article>

      <article>

        <header>
          <a href="single-product.html">
            <img src="../img/squeez-ball-dog-toy.jpg" alt="Squeez ball"/>
            <h1>Squeez ball</h1>
          </a>
        </header>

        <p>The KONG Squeezz Ball has a recessed squeaker that gives the safest and funnest squeak of any toy out there. </p>

        <footer>
          <p class="rating rating-0"></p>
          <div class="price-holder">

            <span class="price">
              $2.09
              <span class="original-price">was $5.99</span>
            </span>

            <button>Add to cart</button>
          </div>
        </footer>

      </article>

    </section>

  </main>

  <footer id="bottom-bar">

    <nav>
      <ul>
        <li>
          <a href="product-list.html">Product list</a>
        </li>

        <li>
          <a href="basket.html">Basket</a>
        </li>

        <li>
          <a href="about.html">About me</a>
        </li>

      </ul>
    </nav>

    <p>Copyryght &copy; Nortal</p>

  </footer>

</body>
</html>
